<div class = "page-header">
  <h1>Edit User</h1>
</div>

<ol class="breadcrumb">
  <li><a href="/users">Users</a></li>
  <li><%= link_to @user.first_name, @user %></li>
  <li class="active"><%= @user.first_name %></li>
</ol>

<%= render 'form' %>
