<html>

<div class="container">
  <div class="row">
    <div class="col-md-4">
    <%= image_tag ('8203794182_8004f8f636_b.jpg') %>
    </div>
  </div>
</div>


<div class="container">
<div class="row">
  <div class="col-md-4">
    <h2>Why?</h2>
    <p>Because Lord Pug commanded it.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Obey</h2>
    <p>Obey our pug overlords.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>The Good</h2>
    <p>For your health. Eat more food.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
</div> <!-- /container -->




</html>
