<div class="page-header">
  <h1> Terms </h1>
  <body name = "top">
</div>

<div>
  <p>Task It! is not responsible for anything, unless it is positive.</p>
  <p>You may not take us to court. For anything. Ever.</p>
</div>
