<div class="page-header">
  <%= link_to 'Edit', edit_project_path, class: "btn btn-info pull-right" %>
  <h1><%= @project.name %></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li class="active"><%= @project.name %></li>
</ol>

<dl class="dl-horizontal">
  <p><dt>First Name<dt><dd><%= @project.name %></dd></p>
</dl>
