 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 60px;
 }


footer{
  padding-bottom: 1em;
}

.img-footer {
  max-width: 2em;
  max-height: 2em;
  margin-right: .5em;
}


.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img {
  vertical-align:middle
}

.alert.alert-danger {
 max-width: 50rem;
}
